@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-family: "고딕";
}
#wrap{
    width: 1000px;
    /* height: 650px; */
    overflow: hidden;
}
/* left */
.left{
    width: 200px;
    height: 650px;
    /* background-color: #333; */
    float: left;
}
.logo{
    width: 190px;
    height: 100px;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.logo a{
    display: block;
    border-bottom: 3px double orangered;
    width: 190px;
    height: 100px;

}
.logo a img{}

.nav{
    margin-top: 10px;
}

.main{}
.main > li{
    position: relative;
    margin-bottom: 5px;
}
.main > li>  a{
    display: block;
    width: 180px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid orangered;
    color: orangered;
    text-align: center;
    font-weight: bold;
}
.main > li:hover>  a{
    color: white;
    background-color: orangered;
}

.sub{
    position: absolute;
    left: 190px;
    top: 0;
    width: 180px;
    display: none;
    z-index: 10;
}
.sub li{}
.sub li a{
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: orange;
}
.sub li a:hover{
    background-color: rgb(50, 122, 64);
    color: #fff;

}

/* right */
.right{
    width: 800px;
    height: 650px;
    /* background-color: olivedrab; */
    float: left;
}
/* img_slide */
.img_slide{
    width: 800px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.move{
    width: 2400px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
}
.move li{
    float: left;
    width: 800px;
    height: 350px;
}
.move li a{}

.content{
    height: 200px;
}
.content > div{
    float: left;
    width: 260px;
    height: 200px;
    /* border: 1px solid orangered; */
    margin-right: 10px;
    position: relative;
}
.content h2{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border: 1px solid orangered;
    background-color: #fff;
    border-bottom-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.notice{}
.notice .noti_table{
    border: 1px solid orangered;
    background-color: #fff;
    border-collapse: collapse;
    width: 260px;
    position: absolute;
    top: 29px;
    left: 0;
    height: 171px;
    font-style: 12px;

    table-layout: fixed;
    /* table-layout: fixed; 안주면 내용만큼 내용이 넘침 */
}

.notice .noti_table .col1{
    width: 70%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-left: 5px;
}
.notice .noti_table .col2{
    width: 30%;
    text-align: right;
    padding-right: 5px;
}
.noti_table tr:hover{
    background-color: #eee;
    cursor: pointer;
}
.gallery{}
.gallery ul{
    border: 1px solid orangered;
    width: 100%;
    height: 171px;
    position: absolute;
    left: 0;
    top: 29px;
    background-color: #fff;
    text-align: center;
    padding: 4px 0;
}
.gallery ul li{
    display: inline-block;
    width: 80px;
    height: 160px;
}
.gallery ul li a{
}
.gallery ul li a img{
    width: 80px;
    display: block;
}


.quick{
    margin-right: 0 !important;
    border: 1px solid orangered;
    background-color: #fff;

}

.quick p{
    height: 100%;
    text-align: center;
    padding-top: 5%;
}
.quick p img{
    height: 90%;
}
.footer{
}
.footer > div{
    background-color: #eee;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.f_logo{
    width: 200px;
}
.copy{
    width: 450px;
}
.family{
    width: 150px;
}
.family select{
    height: 30px;
}
.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    left: 0;
    top: 0;
    display: none;
}

.pop{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 400px;
    height: 500px;
    border: 5px double orange;
    z-index: 15;
    padding: 20px;
    display: none;
}
.pop h3{
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted orange;
}
.pop p{
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}
.pop .close{
    position: absolute;
    right: 15px;
    bottom: 20px;
    padding: 5px 10px;
    border: none;
    background-color: orange;
    cursor: pointer;

}